/* --- Global Styles --- */

@define-color bg #24273a;
@define-color bg-hover #363a4f;
@define-color c #c6d0f5;

* {
    font-family: 'Maple Mono NF';
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
}

/* --- Waybar Container --- */
#waybar {
    background: transparent;
    color: @c;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: #11111b;
}

/* --- Workspaces Module on the Left --- */
#workspaces {
    background-color: transparent;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; /* 5px top/bottom margin, 0px left/right (base for individual control) */
    min-width: 0;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces button {
    color: #babbf1;
    border-radius: 10px; /* Workspaces buttons are always rounded */
    padding: 0.3rem 0.6rem; /* 0.3rem 0.6rem 0.3rem 0.9rem; */
    background: @bg;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
    margin-right: 3px;
}

#workspaces button.active, #workspaces button:hover {
    background-color:  @bg-hover;
}

/* --- Center Module (Individual, Fully Rounded Block - With Simple Hover) --- */
#clock {
    background-color: @bg;
    padding: 0.5rem 1.0rem;
    margin: 5px 0px;
    border-radius: 15px; /* This module is always rounded */
    box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


/* --- Right Modules (Single, Seamless Bar ) --- */
#bluetooth,
#pulseaudio,
#backlight,
#network,
#custom-lock,
#battery,
#cpu,
#memory,
#temperature,
#tray,
#custom-power,
#custom-media {
    background-color: @bg;
    color: @c;
    padding: 0.3rem 0.7rem;
    margin: 5px 3px;
    border-radius: 15px;
    box-shadow: none;
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#tray:hover,
#custom-power:hover,
#custom-media:hover,
#clock:hover {
    background-color: @bg-hover;
}


#bluetooth {
    color: #888888;
    font-size: 18px;
}
#bluetooth.on {
    color: #2196f3;
}
#bluetooth.connected {
    color: #99d1db;
}

/* The whole menu background */
menu {
  background-color: @bg;
  padding: 4px;
  border-radius: 6px;
}

/* All menu items */
menuitem {
  background-color: @bg;
  color: #ffffff;
  padding: 6px 12px;
}

menuitem:hover {
  background-color: @bg-hover;
}

