/* --- Global Styles --- */

@define-color bg #1e1e2e;
@define-color bg-hover #363a4f;
@define-color c #c6d0f5;

* {
    font-family: 'Maple Mono NF';
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
}

#waybar {
  background: transparent;
  color: @c;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  color: #c6d0f5;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: #11111b;
}

/* --- All Modules --- */
#workspaces,
#clock,
#custom-media,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#temperature,
#tray,
#network,
#custom-power {
    background: @bg;
    opacity: 0.8;
    padding: 0px 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: 0px solid #181825;
    border-radius: 10px;
}

#clock:hover,
#custom-media:hover,
#pulseaudio:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#tray:hover,
#network:hover,
#custom-power:hover {
    background-color: @bg-hover;
}

/* ---  Workspaces --- */

#workspaces {
    background-color: @bg;
    padding: 0px 0px;
}

#workspaces button {
  color: @c;
  border-radius: 10px;
}

#workspaces button.active {
  background-color:  @bg-hover;
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  background-color:  @bg-hover;
  color: #cdd6f4;
}

/* ---  Custom Module Styles --- */

#custom-power {
    margin-right: 5px;
}

#bluetooth.on {
    color: #2196f3;
}

