# vim:ft=yaml.ansible
---
- name: Arch | Prep modfile
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    if [[ ! -f /etc/modprobe.d/nvidia.conf ]]; then
      echo "options nvidia_drm modeset=1" > /etc/modprobe.d/nvidia.conf
    fi

- name: Arch | Config hyprland
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: "hyprland", dest: "{{ ansible_env.HOME }}/.config/hypr" }
    - { src: "mako", dest: "{{ ansible_env.HOME }}/.config/mako" }
    - { src: "rofi", dest: "{{ ansible_env.HOME }}/.config/rofi" }
    - { src: "waybar", dest: "{{ ansible_env.HOME }}/.config/waybar" }

- name: Arch | Waybar theme.css
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.config/waybar/theme.css"
    mode: "0644"
    content: ""
    force: false
    group: "{{ ansible_env.USER }}"
    owner: "{{ ansible_env.USER }}"

- name: Arch | Enable SDDM
  become: true
  ansible.builtin.systemd:
    name: "{{ item}}"
    enabled: true
  loop:
    - "sddm"
    - "bluetooth"
